@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@100;200;300;400;500;700&display=swap");
@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css");

* {
  font-family: "Comfortaa", "Arial";
  box-sizing: border-box;
}

/* Global Styles */
a {
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.btn-primary {
  background-color: black;
  border: none;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  color: #fff;
  font-weight: 100 !important;
}

.btn-secondary {
  border: 1px solid black;
  outline: 0;
  padding: 11px 14px;
  text-align: center;
  font-weight: 100 !important;
}

/* Navbar */
.nav-active {
  color: black !important;
}

.navbar a:hover {
  color: black;
}

.navbar a:hover .underline {
  width: 100%;
}

.navbar .underline {
  transition: 0.2s width ease-out;
}

.nav-active .underline {
  width: 100%;
}

.navbar a {
  padding-bottom: 4px;
}

/* Antd radio button */
.ant-radio-wrapper {
  display: flex;
  margin-bottom: 7px;
}

/* Border Shadow */
.border-shadow {
}

.product-card {
  cursor: pointer;
  transition: 0.2s transform;
}

.product-card:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 0 10px 8px rgba(219, 219, 219, 0.2);
}

/* Algo Search */

.ais-SearchBox {
  margin-bottom: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-list .ais-Hits-item {
  margin-left: 0;
  width: 100%;
}

.ais-Hits-item img {
  margin-right: 1em;
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

* {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}

/* Product detail */
.product-detail {
  /* border: 1px solid blue; */
}

.product-detail .current-image {
  width: 500px;
  height: 500px;
  background-position: top;
  /* object-fit: contain; */
}

.buy-now-btn,
.compare-product-btn {
  padding-left: 2em;
  padding-right: 2em;
}

/* Recommended */
.auc-Recommend-title {
  font-weight: bold;
  font-size: 2em;
  /* display: none; */
}
.auc-Recommend-list {
  display: flex;
  align-items: center;
  height: 500px;
  overflow-x: scroll;
  gap: 40px;
}

.auc-Recommend-item {
  /* margin-top: 2em; */
  transition: 0.7s cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.auc-Recommend-item:hover {
  transform: scale(1.2);
}

/* Product detail image */
.product-detail-active-image {
  outline: 1px solid #333;
  padding: 2px;
  transform: scale(1.5);
}

/* Product More details / configuation Table */
.product-more-detail table td {
  padding: 12px 2em;
}

.product-more-detail table tr:nth-child(odd) {
  background-color: #f6f6f6;
}

.customer-user-review input::placeholder {
  font-weight: 100 !important;
}

.rate {
  transition: 0.5s;
}

.rate:hover {
  transform: scale(1.1);
}

/* Login Page */
.google-login:hover {
  cursor: pointer;
  background-color: #f6f6f69d;
}

.login hr {
  width: 500px;
  margin: auto;
}

.ant-message-notice-content {
  background: #fff !important;
}

/* Antd drop down */
.ant-dropdown > * {
  background-color: #fff !important;
}
