@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap");

* {
  font-family: "Comfortaa", "Arial";
  box-sizing: border-box;
}

/* Navbar */
.nav-active {
  color: black !important;
}

.navbar a:hover {
  color: black;
}

.navbar a:hover .underline {
  width: 100%;
}

.navbar .underline {
  transition: 0.2s width ease-out;
}

.nav-active .underline {
  width: 100%;
}

.navbar a {
  padding-bottom: 4px;
}

/* Antd radio button */
.ant-radio-wrapper {
  display: flex;
  margin-bottom: 7px;
}

/* Border Shadow */
.border-shadow {
}

.product-card {
  cursor: pointer;
  transition: 0.2s transform;
}

.product-card:hover {
  transform: scale(1.1) !important;
  box-shadow: 0 0 10px 8px rgba(219, 219, 219, 0.2);
}

/* Algo Search */

.ais-SearchBox {
  margin-bottom: 1em;
}

.ais-InstantSearch {
  max-width: 960px;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}

.ais-Hits-list .ais-Hits-item {
  margin-left: 0;
  width: 100%;
}

.ais-Hits-item img {
  margin-right: 1em;
}

.ais-InstantSearch .ais-Hits-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  margin-left: 0;
  margin-top: 0;
}

* {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  display: none;
}
